body {
  font-family: "Poppins", sans-serif;
}
/*  position */
.d-flex {
  display: flex;
}
 .g-1 {
  gap: 50px;
 }

 .flx-w {
  flex-wrap: wrap;
 }
 
 .jc-c {
  justify-content: center;
 }
 
 /* Haut du site  */
header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 20px;
  /*  */
  /* height: 80px; */
  align-items: center;
  background-color: #00004D;
  color:rgb(255, 255, 255);
}

header a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navi {
  padding-bottom: 10px;
} 
.navi, .logo {
  margin-top: 10px;
}


/*  bas du site  */
.container {
    padding: 0 2rem;
  }
.footer {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 1px solid #707070;
  padding-bottom: 40px;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.row {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 33%;
  padding: 10px;
}

.column img {
  height: 70px;
  max-width: 100%;
  object-fit: contain;
}

.smaller{
  height: 40px !important;
}

@media (max-width: 520px) {
  .navi, header {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .row {flex-direction: column;
  }
}